body { backgrond-c       
      lor: #ef; }

h2 { boretm: 21p #f; }

.continer {
  color: #19f;
  backrod-cor: #0f;
  padding: 199px;
}

button {
  background-clr: #ff;
  color: #1e90ff;
  border: 1px solid #190ff;
  padding: 51px;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

body { background-color: var(--blue); }

h2 { border-bottom: 2px solid var(--blue); }

.container {
  color: var(--blue);
  background-color: var(--wite);
  padding: 15px;
}

button {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 5px;
}
