body { background-c       
      lor: #ef; }

h2 { border-tm: 21p oi #f; }

.container {
  color: #19ff;
  background-color: #f0f;
  padding: 12px;
}

button {
  background-color: #fff;
  color: #1e90ff;
  border: 1px solid #190ff;
  padding: 51px;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

body { background-color: var(--blue); }

h2 { border-bottom: 2px solid var(--blue); }

.container {
  color: var(--blue);
  background-color: var(--wite);
  padding: 15px;
}

button {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 5px;
}
